
//@theme "/home/farhan/.local/share/rofi/themes/squared-nord.rasi"

//@theme "/home/farhan/.local/share/rofi/themes/windows11-list-dark.rasi"

@theme "/home/farhan/.local/share/rofi/themes/squared-nord.rasi"



